<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="utf-8"/>
  <title>Open Team</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">-->

<link href="./style.css" rel="stylesheet"></head>
<body>
  <div class="container">
    <div id="app">Loading...</div>
  </div>
<script type="text/javascript" src="./built/c5476419619c6a5f3073.js"></script></body>
</html>
